nav ul li a{
    text-decoration: none;
    color: rgb(21, 5, 243);
    
    font-size: larger;
    
       
}
.ul1{
    list-style-type: none;
    margin: 0;
   
}

.li1{
    display: inline;
    float: right;
    padding: 0% 5%;
}



span{
    color: rgb(34, 0, 255);
    margin-top: 50px;
   
   
  
   
     
    width: 100%;

}

.div1{
   
    height: 100px;
    width: 100%;
}



h1{
    text-align: center;
}

.avatar{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    

}
   
.section2{
    background-color: brown;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    
    
}

.h2{
    text-align:center;
    padding-top: 40px;
    font-size: 50px;
    color: rgb(255, 255, 255);
}
.p1{
    display: block;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 30px;
    align-items: center;
    color: rgb(255, 255, 255);
}

  
  .logo{
    height: 90px;
  }